{
  "openapi": "3.0.3",
  "info": {
    "title": "PacketExchange API",
    "description": "Carrier-to-carrier voice and SMS marketplace API.\n\n## Authentication\nSend `Authorization: Bearer <credential>`, where the credential is either a JWT access token from `POST /auth/login` (15 minutes; refresh with `POST /auth/refresh`) or an API key (`wmmn_live_sk_...` live, `wmmn_test_sk_...` test) created in the dashboard under **API keys**. Some account-management operations are **session-only** and refuse API keys; each operation states its access rule and, for scoped keys, the scope it needs.\n\n## Envelope\nSuccess: `{ \"success\": true, \"data\": ... }` (list endpoints may add `nextCursor` and `hasMore`). Failure: `{ \"success\": false, \"error\": { \"code\", \"message\", \"details\" } }`. For `VALIDATION_ERROR`, `details` is an array of `{ path, message }`.\n\n## Money\nEvery ledger amount is US dollars as a decimal **string** with exactly 6 places (`\"0.012500\"`). Voice prices are per minute; SMS prices are per message segment.\n\n## Rate limits\nDefault: 100 requests per second per caller (API key, session or IP address). Operations with a tighter limit state it, generated from the route's own configuration. A 429 carries `Retry-After`.\n\n## Request ids\nEvery response carries `X-Request-Id` (a UUID). Quote it when contacting support.\n\n## Error codes\n| Status | Code | Meaning |\n|---|---|---|\n| 400 | `VALIDATION_ERROR` | The body, query or path failed validation, or a business rule refused the input. Insufficient balance for a billable action is also reported this way, with a message that starts \"Insufficient balance\". |\n| 400 | `INVALID_INPUT` | A value passed validation but is not in a storable format - most often a malformed id (not a UUID) in the path or query, a number out of range, or text containing characters that cannot be stored (for example a NUL byte). |\n| 400 | `NO_SESSION` | Sessions: the current session could not be determined, so \"revoke others\" was refused. |\n| 400 | `BAD_REQUEST` | The request could not be parsed, for example malformed JSON or an unsupported content type. |\n| 401 | `UNAUTHORIZED` | No credential, or the token or API key is invalid, expired or revoked. |\n| 401 | `MISSING_TOKEN` | POST /auth/refresh was called without a refresh token. |\n| 402 | `SWITCH_SUBSCRIPTION_REQUIRED` | The Switch endpoint needs an active Switch plan or trial on the account. |\n| 403 | `FORBIDDEN` | Authenticated but not allowed. For a scoped API key the message names the missing scope (\"API key missing required scope: sms:send\"); session-only endpoints answer \"This action requires an interactive session (dashboard login), not an API key.\" |\n| 403 | `TEST_KEY_NOT_ALLOWED` | A test key (wmmn_test_sk_) asked for something that has no test mode: a Switch change (any non-GET request under /switch) or an x402 top-up, which settles real USDC into the live balance. Use a live key. Test keys may still read Switch data. |\n| 403 | `CSRF_BLOCKED` | A cross-site request tried to use the browser refresh cookie. |\n| 403 | `KYC_REQUIRED` | The action needs a verified identity first (Account > Verification). |\n| 404 | `NOT_FOUND` | The resource does not exist, or it is not visible to your account. |\n| 409 | `CONFLICT` | The record already exists, is referenced elsewhere, or a request with the same X-Idempotency-Key is still in progress. |\n| 409 | `STALE_WRITE` | Someone else changed this Switch record after you loaded it. Reload and re-apply your change. |\n| 409 | `INVOICE_REVIEW_STALE` | Switch invoicing: the data changed since the invoice review was built. Review again, then issue. |\n| 409 | `INVOICE_UNRATED_USAGE` | Switch invoicing: unrated usage sits inside the invoice period. Rate it (or exclude it) before issuing. |\n| 409 | `SWITCH_NO_SUBSCRIPTION` | Switch billing: there is no Switch subscription on this account to manage. |\n| 409 | `EXPORT_NOT_READY` | CDR exports: GET /billing/exports/{id}/download was called before the export finished (or after it failed). Poll the job until it is done. |\n| 410 | `EXPORT_EXPIRED` | CDR exports: the export finished, but its file has since been deleted by the retention sweep. Queue a new export. |\n| 422 | `VALIDATION_ERROR` | An X-Idempotency-Key was reused with a different request body. Use a fresh key for a different request. |\n| 429 | `RATE_LIMITED` | Too many requests. Wait for the number of seconds in the Retry-After header, then retry. |\n| 429 | `TOO_MANY_EXPORTS` | You already have exports in progress. Wait for one to finish. |\n| 500 | `INTERNAL_ERROR` | An unexpected server error. It has been logged; quote the X-Request-Id header when contacting support. |\n| 502 | `UPSTREAM_ERROR` | A service we depend on failed. Retry shortly. |\n| 502 | `STRIPE_ERROR` | Card payments: the card processor could not start the payment. Retry shortly. |\n| 503 | `SERVICE_UNAVAILABLE` | Temporarily unavailable. Retry with backoff. |\n| 503 | `STRIPE_DISABLED` | Card payments are not enabled on this platform yet. |\n| 503 | `SWITCH_BILLING_UNCONFIGURED` | Switch billing: this plan cannot be bought online yet. Contact sales. |\n| 503 | `SWITCH_PRICE_MISMATCH` | Switch billing: this plan cannot be bought online right now. Contact sales. |\n| 503 | `WIRE_UNAVAILABLE` | Wire top-ups are not available right now. |\n| 503 | `AI_UNAVAILABLE` | Switch AI Control cannot reach its model. Nothing was changed; the manual controls still work. |",
    "version": "1.2.0"
  },
  "servers": [
    {
      "url": "https://packetexchange.io",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Log in, refresh tokens, sessions, email verification and password reset."
    },
    {
      "name": "Account",
      "description": "Your profile, balance, preferences, team and account-level settings."
    },
    {
      "name": "API keys",
      "description": "Create, scope and revoke API keys. Dashboard session only: a key can never mint or list keys."
    },
    {
      "name": "API usage",
      "description": "Request volume, error rate and latency for your own API traffic."
    },
    {
      "name": "Webhooks",
      "description": "Endpoints we POST signed events to, their delivery history and resends."
    },
    {
      "name": "Marketplace routes",
      "description": "Browse, resolve, list and manage voice and SMS termination routes."
    },
    {
      "name": "Rate sheets",
      "description": "Upload and manage per-prefix rate decks on routes you sell."
    },
    {
      "name": "Route blends",
      "description": "Blended routes that spread traffic across several member routes."
    },
    {
      "name": "Purchases",
      "description": "Buy access to marketplace routes and manage what you bought."
    },
    {
      "name": "Offers",
      "description": "Propose, counter and accept prices on marketplace routes."
    },
    {
      "name": "Route access",
      "description": "Request and grant access to private marketplace routes."
    },
    {
      "name": "Route messages",
      "description": "Buyer and seller conversations about a route."
    },
    {
      "name": "Route reports",
      "description": "Report a problem with a route you bought."
    },
    {
      "name": "Markets",
      "description": "Market-wide rate indices across destinations."
    },
    {
      "name": "Voice and SMS",
      "description": "Place single calls and send single SMS over the routes you bought, and read their history."
    },
    {
      "name": "Verify",
      "description": "One-time passcodes by SMS or voice call: send a code, then check what the user typed. We keep only a hash of the code."
    },
    {
      "name": "Number lookup",
      "description": "Validate a number and see its country, line type, network, risk and cheapest live price. Prefix-based, free."
    },
    {
      "name": "Phone numbers",
      "description": "The DID Store: search, buy, route and release phone numbers; SMS and softphone lines on them."
    },
    {
      "name": "Billing",
      "description": "Ledger, invoices, statements, spending and exports. All amounts are USD 6-decimal strings."
    },
    {
      "name": "Top-ups",
      "description": "Add funds by card, crypto or wire."
    },
    {
      "name": "Payouts",
      "description": "Withdraw your seller balance. Dashboard session only."
    },
    {
      "name": "Dialer",
      "description": "Outbound dialer and SMS campaigns, their numbers, caller IDs and results."
    },
    {
      "name": "AI voice agents",
      "description": "Build, preview and attach AI voice agents to campaigns."
    },
    {
      "name": "CLI tests",
      "description": "Caller-ID tests on real handsets."
    },
    {
      "name": "Do not call",
      "description": "Your opt-out and suppression list, applied to dialer and SMS traffic."
    },
    {
      "name": "Interconnections",
      "description": "The SIP IP whitelist and connectivity tests for your traffic."
    },
    {
      "name": "Connections",
      "description": "Your SIP and SMPP connections to the exchange."
    },
    {
      "name": "Switch",
      "description": "The carrier switch: account-level settings, mode and overview. Every Switch operation requires a Switch plan."
    },
    {
      "name": "Switch: customers",
      "description": "Customers you sell to: accounts, balances, credit, contacts and lifecycle."
    },
    {
      "name": "Switch: customer trunks",
      "description": "Customer trunks: addressing, credentials, limits, readiness and approvals."
    },
    {
      "name": "Switch: suppliers",
      "description": "Suppliers and providers you buy from: accounts, trunks, admission and diagnostics."
    },
    {
      "name": "Switch: rating",
      "description": "Rate decks, sell decks and sell rates: what you pay and what you charge."
    },
    {
      "name": "Switch: routing",
      "description": "Route plans, dialplans, routing rules, ACLs and route traces."
    },
    {
      "name": "Switch: CDRs and analytics",
      "description": "Call records, exports, saved views, margin, cost and quality analysis."
    },
    {
      "name": "Switch: invoicing",
      "description": "Invoices, credit notes, payables, netting, settlement and ageing."
    },
    {
      "name": "Switch: operations",
      "description": "NOC, live calls, issues, fraud, the operations queue and AI control."
    },
    {
      "name": "Switch: team and audit",
      "description": "Roles, team members, approvals and the audit history."
    },
    {
      "name": "Application Manager",
      "description": "Operate retail sub-accounts: provisioning, credit and routing."
    },
    {
      "name": "Revenue share numbers",
      "description": "Revenue share number pools, IVR and payouts."
    },
    {
      "name": "Notifications",
      "description": "In-app notifications for your account."
    },
    {
      "name": "Support",
      "description": "Support tickets and the public contact form."
    },
    {
      "name": "Compliance",
      "description": "Identity verification and US calling compliance."
    },
    {
      "name": "Onboarding",
      "description": "The guided first-call flow for new accounts."
    },
    {
      "name": "Status",
      "description": "Public platform status, incidents and maintenance."
    },
    {
      "name": "System",
      "description": "Health checks and service metadata."
    }
  ],
  "x-error-codes": [
    {
      "code": "VALIDATION_ERROR",
      "status": 400,
      "meaning": "The body, query or path failed validation, or a business rule refused the input. Insufficient balance for a billable action is also reported this way, with a message that starts \"Insufficient balance\".",
      "details": "An array of { path, message }, one per failing field. A business-rule refusal usually carries only the message; a few attach an object instead (Switch trunk activation sends { code: \"TRUNK_NOT_READY\", blockers: [...] })."
    },
    {
      "code": "INVALID_INPUT",
      "status": 400,
      "meaning": "A value passed validation but is not in a storable format - most often a malformed id (not a UUID) in the path or query, a number out of range, or text containing characters that cannot be stored (for example a NUL byte)."
    },
    {
      "code": "NO_SESSION",
      "status": 400,
      "meaning": "Sessions: the current session could not be determined, so \"revoke others\" was refused."
    },
    {
      "code": "BAD_REQUEST",
      "status": 400,
      "meaning": "The request could not be parsed, for example malformed JSON or an unsupported content type."
    },
    {
      "code": "UNAUTHORIZED",
      "status": 401,
      "meaning": "No credential, or the token or API key is invalid, expired or revoked."
    },
    {
      "code": "MISSING_TOKEN",
      "status": 401,
      "meaning": "POST /auth/refresh was called without a refresh token."
    },
    {
      "code": "SWITCH_SUBSCRIPTION_REQUIRED",
      "status": 402,
      "meaning": "The Switch endpoint needs an active Switch plan or trial on the account."
    },
    {
      "code": "FORBIDDEN",
      "status": 403,
      "meaning": "Authenticated but not allowed. For a scoped API key the message names the missing scope (\"API key missing required scope: sms:send\"); session-only endpoints answer \"This action requires an interactive session (dashboard login), not an API key.\""
    },
    {
      "code": "TEST_KEY_NOT_ALLOWED",
      "status": 403,
      "meaning": "A test key (wmmn_test_sk_) asked for something that has no test mode: a Switch change (any non-GET request under /switch) or an x402 top-up, which settles real USDC into the live balance. Use a live key. Test keys may still read Switch data."
    },
    {
      "code": "CSRF_BLOCKED",
      "status": 403,
      "meaning": "A cross-site request tried to use the browser refresh cookie."
    },
    {
      "code": "KYC_REQUIRED",
      "status": 403,
      "meaning": "The action needs a verified identity first (Account > Verification)."
    },
    {
      "code": "NOT_FOUND",
      "status": 404,
      "meaning": "The resource does not exist, or it is not visible to your account."
    },
    {
      "code": "CONFLICT",
      "status": 409,
      "meaning": "The record already exists, is referenced elsewhere, or a request with the same X-Idempotency-Key is still in progress."
    },
    {
      "code": "STALE_WRITE",
      "status": 409,
      "meaning": "Someone else changed this Switch record after you loaded it. Reload and re-apply your change.",
      "details": "An object describing the newer version that won."
    },
    {
      "code": "INVOICE_REVIEW_STALE",
      "status": 409,
      "meaning": "Switch invoicing: the data changed since the invoice review was built. Review again, then issue."
    },
    {
      "code": "INVOICE_UNRATED_USAGE",
      "status": 409,
      "meaning": "Switch invoicing: unrated usage sits inside the invoice period. Rate it (or exclude it) before issuing.",
      "details": "An object describing the blocking usage."
    },
    {
      "code": "SWITCH_NO_SUBSCRIPTION",
      "status": 409,
      "meaning": "Switch billing: there is no Switch subscription on this account to manage."
    },
    {
      "code": "EXPORT_NOT_READY",
      "status": 409,
      "meaning": "CDR exports: GET /billing/exports/{id}/download was called before the export finished (or after it failed). Poll the job until it is done."
    },
    {
      "code": "EXPORT_EXPIRED",
      "status": 410,
      "meaning": "CDR exports: the export finished, but its file has since been deleted by the retention sweep. Queue a new export."
    },
    {
      "code": "VALIDATION_ERROR",
      "status": 422,
      "meaning": "An X-Idempotency-Key was reused with a different request body. Use a fresh key for a different request."
    },
    {
      "code": "RATE_LIMITED",
      "status": 429,
      "meaning": "Too many requests. Wait for the number of seconds in the Retry-After header, then retry."
    },
    {
      "code": "TOO_MANY_EXPORTS",
      "status": 429,
      "meaning": "You already have exports in progress. Wait for one to finish."
    },
    {
      "code": "INTERNAL_ERROR",
      "status": 500,
      "meaning": "An unexpected server error. It has been logged; quote the X-Request-Id header when contacting support."
    },
    {
      "code": "UPSTREAM_ERROR",
      "status": 502,
      "meaning": "A service we depend on failed. Retry shortly."
    },
    {
      "code": "STRIPE_ERROR",
      "status": 502,
      "meaning": "Card payments: the card processor could not start the payment. Retry shortly."
    },
    {
      "code": "SERVICE_UNAVAILABLE",
      "status": 503,
      "meaning": "Temporarily unavailable. Retry with backoff."
    },
    {
      "code": "STRIPE_DISABLED",
      "status": 503,
      "meaning": "Card payments are not enabled on this platform yet."
    },
    {
      "code": "SWITCH_BILLING_UNCONFIGURED",
      "status": 503,
      "meaning": "Switch billing: this plan cannot be bought online yet. Contact sales."
    },
    {
      "code": "SWITCH_PRICE_MISMATCH",
      "status": 503,
      "meaning": "Switch billing: this plan cannot be bought online right now. Contact sales."
    },
    {
      "code": "WIRE_UNAVAILABLE",
      "status": 503,
      "meaning": "Wire top-ups are not available right now."
    },
    {
      "code": "AI_UNAVAILABLE",
      "status": 503,
      "meaning": "Switch AI Control cannot reach its model. Nothing was changed; the manual controls still work."
    }
  ],
  "x-rate-limit-default": {
    "max": 100,
    "window": "1 second"
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT or API key",
        "description": "A JWT access token or an API key, as `Authorization: Bearer <credential>`."
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "An API key as the Authorization header value, with or without the `Bearer ` prefix."
      }
    },
    "schemas": {
      "Money": {
        "type": "string",
        "pattern": "^-?\\d+\\.\\d{6}$",
        "description": "US dollars as a decimal string with exactly 6 decimal places, e.g. \"0.012500\". Do money arithmetic with a decimal type, not floating point."
      },
      "Message": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ]
      },
      "Deleted": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "id",
          "deleted"
        ]
      },
      "ValidationIssue": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "description": "Dot-joined path of the offending field (\"\" for the whole body)"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "path",
          "message"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Stable machine-readable code; see the error-code reference"
          },
          "message": {
            "type": "string",
            "description": "Human-readable explanation, safe to show to an operator"
          },
          "details": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ValidationIssue"
                }
              },
              {
                "type": "object",
                "additionalProperties": {}
              }
            ],
            "description": "VALIDATION_ERROR: an array of { path, message }. Some codes attach a code-specific object. Usually absent otherwise."
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "ErrorEnvelope": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "$ref": "#/components/schemas/Error"
          }
        },
        "required": [
          "success",
          "error"
        ]
      },
      "AccountProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "contactName": {
            "type": "string"
          },
          "companyName": {
            "type": "string",
            "nullable": true
          },
          "jobTitle": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true,
            "description": "ISO-3166-1 alpha-2"
          },
          "timezone": {
            "type": "string"
          },
          "companyLogoUrl": {
            "type": "string",
            "nullable": true
          },
          "avatarUrl": {
            "type": "string",
            "nullable": true
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "admin"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "suspended"
            ]
          },
          "accountKind": {
            "type": "string"
          },
          "balance": {
            "$ref": "#/components/schemas/Money"
          },
          "testCredit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Money"
              }
            ],
            "description": "Sandbox credit, spendable only by test API keys"
          },
          "emailVerifiedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)",
            "nullable": true
          },
          "pendingEmail": {
            "type": "string",
            "nullable": true,
            "description": "An address change waiting for confirmation"
          },
          "verificationStatus": {
            "type": "string",
            "enum": [
              "unverified",
              "verified"
            ]
          },
          "kycStatus": {
            "type": "string",
            "enum": [
              "not_started",
              "pending",
              "verified",
              "rejected"
            ]
          },
          "totpEnabled": {
            "type": "boolean",
            "description": "Two-factor authentication is on"
          },
          "taxId": {
            "type": "string",
            "nullable": true
          },
          "taxCountry": {
            "type": "string",
            "nullable": true
          },
          "payoutMethod": {
            "type": "string",
            "nullable": true
          },
          "onboardingGoal": {
            "type": "string",
            "nullable": true
          },
          "onboardingDismissed": {
            "type": "boolean"
          },
          "onboardingSeen": {
            "type": "boolean"
          },
          "emailNotificationsOptOut": {
            "type": "boolean"
          },
          "switchStatus": {
            "type": "string",
            "enum": [
              "none",
              "active",
              "past_due",
              "canceled",
              "comp"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)"
          }
        },
        "required": [
          "id",
          "email",
          "contactName",
          "companyName",
          "jobTitle",
          "phone",
          "country",
          "timezone",
          "companyLogoUrl",
          "avatarUrl",
          "role",
          "status",
          "accountKind",
          "balance",
          "testCredit",
          "emailVerifiedAt",
          "pendingEmail",
          "verificationStatus",
          "kycStatus",
          "totpEnabled",
          "taxId",
          "taxCountry",
          "payoutMethod",
          "onboardingGoal",
          "onboardingDismissed",
          "onboardingSeen",
          "emailNotificationsOptOut",
          "switchStatus",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": true
      },
      "AccountBalance": {
        "type": "object",
        "properties": {
          "balance": {
            "$ref": "#/components/schemas/Money"
          },
          "testCredit": {
            "$ref": "#/components/schemas/Money"
          },
          "total": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Money"
              }
            ],
            "description": "balance + testCredit"
          }
        },
        "required": [
          "balance",
          "testCredit",
          "total"
        ]
      },
      "AccountActivityEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "description": "e.g. login, password_change, api_key_created, session_revoked"
          },
          "ip": {
            "type": "string",
            "nullable": true
          },
          "userAgent": {
            "type": "string",
            "nullable": true
          },
          "meta": {
            "type": "object",
            "additionalProperties": {},
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)"
          }
        },
        "required": [
          "id",
          "type",
          "ip",
          "userAgent",
          "meta",
          "createdAt"
        ]
      },
      "AccountClosurePreview": {
        "type": "object",
        "properties": {
          "balanceUsd": {
            "type": "string",
            "description": "USD, 2-decimal string"
          },
          "heldUsd": {
            "type": "string",
            "description": "Held back because it came from a recent card top-up"
          },
          "withdrawableUsd": {
            "type": "string"
          },
          "minWithdrawalUsd": {
            "type": "number"
          },
          "pendingPayouts": {
            "type": "integer"
          },
          "revshareEarningsUsd": {
            "type": "string"
          },
          "pendingRevsharePayouts": {
            "type": "integer"
          },
          "canCloseNow": {
            "type": "boolean"
          },
          "canWithdraw": {
            "type": "boolean"
          },
          "revshareCanWithdraw": {
            "type": "boolean"
          },
          "forfeitRequired": {
            "type": "boolean",
            "description": "The only way out is to give up an amount stuck under the payout minimum"
          },
          "forfeitBalanceUsd": {
            "type": "string",
            "nullable": true
          },
          "forfeitRevshareUsd": {
            "type": "string",
            "nullable": true
          },
          "forfeitAmountUsd": {
            "type": "string",
            "nullable": true,
            "description": "Echo this exact figure as confirmForfeitAmountUsd to close with a forfeit"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "balanceUsd",
          "heldUsd",
          "withdrawableUsd",
          "minWithdrawalUsd",
          "pendingPayouts",
          "revshareEarningsUsd",
          "pendingRevsharePayouts",
          "canCloseNow",
          "canWithdraw",
          "revshareCanWithdraw",
          "forfeitRequired",
          "forfeitBalanceUsd",
          "forfeitRevshareUsd",
          "forfeitAmountUsd",
          "message"
        ]
      },
      "AccountSwitchEntitlement": {
        "type": "object",
        "properties": {
          "active": {
            "type": "boolean",
            "description": "May this account use the Switch right now"
          },
          "status": {
            "type": "string",
            "enum": [
              "none",
              "active",
              "past_due",
              "canceled",
              "comp"
            ]
          },
          "accessUntil": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)",
            "nullable": true
          },
          "comp": {
            "type": "boolean"
          },
          "nodeNft": {
            "type": "boolean",
            "description": "Access comes from a held Switch Node NFT"
          },
          "priceUsd": {
            "type": "number",
            "description": "Monthly plan price in USD (a number, not a ledger amount)"
          },
          "plan": {
            "type": "string"
          },
          "purchasablePlans": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "starter",
                "essentials",
                "standard",
                "growth",
                "carrier"
              ]
            }
          },
          "onTrial": {
            "type": "boolean"
          },
          "trialEndsAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)",
            "nullable": true
          },
          "trialEligible": {
            "type": "boolean"
          },
          "trialDays": {
            "type": "integer"
          },
          "trialApplication": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "status": {
                "type": "string",
                "enum": [
                  "pending",
                  "approved",
                  "declined"
                ]
              },
              "desiredPlan": {
                "type": "string"
              },
              "submittedAt": {
                "type": "string",
                "format": "date-time",
                "description": "ISO-8601 timestamp (UTC)"
              },
              "reviewedAt": {
                "type": "string",
                "format": "date-time",
                "description": "ISO-8601 timestamp (UTC)",
                "nullable": true
              }
            },
            "required": [
              "id",
              "status",
              "desiredPlan",
              "submittedAt",
              "reviewedAt"
            ],
            "nullable": true
          },
          "firstChargeDeferredTo": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)",
            "nullable": true
          },
          "cancelAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)",
            "nullable": true
          },
          "manageable": {
            "type": "boolean",
            "description": "Has a card subscription that the billing portal can manage"
          }
        },
        "required": [
          "active",
          "status",
          "accessUntil",
          "comp",
          "nodeNft",
          "priceUsd",
          "plan",
          "purchasablePlans",
          "onTrial",
          "trialEndsAt",
          "trialEligible",
          "trialDays",
          "trialApplication",
          "firstChargeDeferredTo",
          "cancelAt",
          "manageable"
        ]
      },
      "AccountSpendAlerts": {
        "type": "object",
        "properties": {
          "lowBalanceThreshold": {
            "type": "string",
            "nullable": true,
            "description": "USD, 2-decimal string; null = no low-balance alert"
          },
          "dailySpendCap": {
            "type": "string",
            "nullable": true,
            "description": "USD, 2-decimal string; null = no daily cap alert"
          },
          "notifyEmail": {
            "type": "boolean"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)",
            "nullable": true
          }
        },
        "required": [
          "lowBalanceThreshold",
          "dailySpendCap",
          "notifyEmail",
          "updatedAt"
        ]
      },
      "AccountSavedSearch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "filters": {
            "type": "object",
            "additionalProperties": {},
            "description": "Marketplace filter values, as the marketplace query parameters"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)"
          }
        },
        "required": [
          "id",
          "userId",
          "name",
          "filters",
          "createdAt"
        ]
      },
      "AccountFavoriteRoute": {
        "type": "object",
        "properties": {
          "favoriteId": {
            "type": "string",
            "format": "uuid"
          },
          "favoritedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The route id"
          },
          "type": {
            "type": "string",
            "enum": [
              "voice",
              "sms"
            ]
          },
          "country": {
            "type": "string"
          },
          "destinationName": {
            "type": "string"
          },
          "pricePerUnit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Money"
              }
            ],
            "description": "USD per minute (voice) or per message segment (SMS)"
          },
          "billingIncrement": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "expectedAsr": {
            "type": "string",
            "nullable": true,
            "description": "Seller-stated ASR %, 2-decimal string"
          },
          "expectedAcd": {
            "type": "string",
            "nullable": true,
            "description": "Seller-stated ACD in minutes, 2-decimal string"
          },
          "dialerCompatible": {
            "type": "boolean"
          }
        },
        "required": [
          "favoriteId",
          "favoritedAt",
          "id",
          "type",
          "country",
          "destinationName",
          "pricePerUnit",
          "billingIncrement",
          "status",
          "expectedAsr",
          "expectedAcd",
          "dialerCompatible"
        ]
      },
      "AccountDedicatedIp": {
        "type": "object",
        "properties": {
          "assignmentId": {
            "type": "string",
            "format": "uuid"
          },
          "ipId": {
            "type": "string",
            "format": "uuid"
          },
          "address": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "ingress",
              "egress"
            ],
            "description": "ingress = where you send traffic; egress = where your calls leave from"
          },
          "boundBox": {
            "type": "string",
            "nullable": true
          },
          "assignedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)"
          },
          "hint": {
            "type": "string",
            "description": "Plain-English instruction for this address"
          }
        },
        "required": [
          "assignmentId",
          "ipId",
          "address",
          "role",
          "boundBox",
          "assignedAt",
          "hint"
        ]
      },
      "AccountActivatedIp": {
        "type": "object",
        "properties": {
          "assignmentId": {
            "type": "string",
            "format": "uuid"
          },
          "ipId": {
            "type": "string",
            "format": "uuid"
          },
          "address": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "ingress",
              "egress"
            ],
            "description": "ingress = where you send traffic; egress = where your calls leave from"
          },
          "boundBox": {
            "type": "string",
            "nullable": true
          },
          "assignedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)"
          },
          "hint": {
            "type": "string",
            "description": "Plain-English instruction for this address"
          },
          "created": {
            "type": "boolean",
            "description": "False when you already held one (idempotent replay)"
          },
          "monthlyPriceUsd": {
            "type": "number",
            "description": "Monthly premium in USD (a number)"
          },
          "charged": {
            "type": "number",
            "description": "USD booked by THIS call; 0 on a replay"
          }
        },
        "required": [
          "assignmentId",
          "ipId",
          "address",
          "role",
          "boundBox",
          "assignedAt",
          "hint",
          "created",
          "monthlyPriceUsd",
          "charged"
        ]
      },
      "AccountInterconnect": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "myIngressIp": {
            "type": "string",
            "nullable": true
          },
          "myEgressIp": {
            "type": "string",
            "nullable": true
          },
          "egressPendingNetwork": {
            "type": "boolean"
          },
          "edgeIp": {
            "type": "string",
            "description": "The shared address to send SIP to when you hold no dedicated one"
          },
          "egressIps": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Addresses our calls leave from; whitelist these with your carriers"
          },
          "rtpPortRange": {
            "type": "string"
          },
          "sipPort": {
            "type": "integer"
          },
          "onPlatform": {
            "type": "boolean"
          },
          "onPlatformSignals": {
            "type": "object",
            "properties": {
              "switchOperator": {
                "type": "boolean"
              },
              "marketplaceBuyer": {
                "type": "boolean"
              },
              "dialerUser": {
                "type": "boolean"
              }
            },
            "required": [
              "switchOperator",
              "marketplaceBuyer",
              "dialerUser"
            ]
          },
          "autoAuthorized": {
            "type": "boolean"
          },
          "manualWhitelistNeeded": {
            "type": "boolean"
          },
          "authorizedIps": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "poolAvailable": {
            "type": "integer"
          },
          "egressPoolAvailable": {
            "type": "integer"
          },
          "egressAvailable": {
            "type": "boolean"
          },
          "sipUsername": {
            "type": "string",
            "nullable": true
          },
          "hasSipPassword": {
            "type": "boolean"
          }
        },
        "required": [
          "myIngressIp",
          "myEgressIp",
          "edgeIp",
          "egressIps",
          "rtpPortRange",
          "sipPort",
          "onPlatform",
          "onPlatformSignals",
          "autoAuthorized",
          "manualWhitelistNeeded",
          "authorizedIps",
          "poolAvailable",
          "egressPoolAvailable",
          "egressAvailable",
          "sipUsername",
          "hasSipPassword"
        ],
        "additionalProperties": true
      },
      "AccountConnectivityBrief": {
        "type": "object",
        "properties": {
          "dedicatedIpsEnabled": {
            "type": "boolean"
          },
          "myAddress": {
            "type": "string",
            "nullable": true
          },
          "myAddressSummary": {
            "type": "string"
          },
          "sendTo": {
            "type": "string",
            "description": "Where to send your SIP traffic"
          },
          "sendToPort": {
            "type": "integer"
          },
          "sendToSummary": {
            "type": "string"
          },
          "egressMode": {
            "type": "string",
            "enum": [
              "dedicated",
              "shared"
            ]
          },
          "egressAddresses": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "egressSummary": {
            "type": "string"
          },
          "authMethods": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ip",
                "digest"
              ]
            }
          },
          "authSummary": {
            "type": "string"
          },
          "authorizedSourceIps": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "purchasedRoutes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "purchaseId": {
                  "type": "string",
                  "format": "uuid"
                },
                "routeId": {
                  "type": "string",
                  "format": "uuid"
                },
                "routeName": {
                  "type": "string",
                  "nullable": true
                },
                "destination": {
                  "type": "string",
                  "nullable": true
                },
                "type": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "sendTo": {
                  "type": "string"
                },
                "sendToPort": {
                  "type": "integer"
                },
                "sipUsername": {
                  "type": "string",
                  "nullable": true
                }
              },
              "required": [
                "purchaseId",
                "routeId",
                "routeName",
                "destination",
                "type",
                "status",
                "sendTo",
                "sendToPort",
                "sipUsername"
              ],
              "additionalProperties": true
            }
          },
          "rtpPortRange": {
            "type": "string"
          },
          "codecs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "autoAuthorized": {
            "type": "boolean"
          },
          "manualWhitelistNeeded": {
            "type": "boolean"
          }
        },
        "required": [
          "dedicatedIpsEnabled",
          "myAddress",
          "myAddressSummary",
          "sendTo",
          "sendToPort",
          "sendToSummary",
          "egressMode",
          "egressAddresses",
          "egressSummary",
          "authMethods",
          "authSummary",
          "authorizedSourceIps",
          "purchasedRoutes",
          "rtpPortRange",
          "codecs",
          "autoAuthorized",
          "manualWhitelistNeeded"
        ]
      },
      "AuthTokens": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "JWT access token. Send as `Authorization: Bearer <token>`."
          },
          "refreshToken": {
            "type": "string",
            "description": "Refresh token (7 days). Also set as an httpOnly cookie scoped to /api/v1/auth."
          },
          "expiresIn": {
            "type": "integer",
            "description": "Access-token lifetime in seconds (900)"
          }
        },
        "required": [
          "accessToken",
          "refreshToken",
          "expiresIn"
        ]
      },
      "AuthSession": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "JWT access token. Send as `Authorization: Bearer <token>`."
          },
          "refreshToken": {
            "type": "string",
            "description": "Refresh token (7 days). Also set as an httpOnly cookie scoped to /api/v1/auth."
          },
          "expiresIn": {
            "type": "integer",
            "description": "Access-token lifetime in seconds (900)"
          },
          "user": {
            "$ref": "#/components/schemas/AccountProfile"
          }
        },
        "required": [
          "accessToken",
          "refreshToken",
          "expiresIn",
          "user"
        ]
      },
      "AuthMfaChallenge": {
        "type": "object",
        "properties": {
          "mfaRequired": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "mfaToken": {
            "type": "string",
            "description": "Short-lived (5 minutes) token to send with a TOTP code to POST /auth/2fa/verify"
          }
        },
        "required": [
          "mfaRequired",
          "mfaToken"
        ]
      },
      "AuthDeviceSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "ip": {
            "type": "string",
            "nullable": true
          },
          "userAgent": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)"
          },
          "lastSeenAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)",
            "nullable": true
          },
          "current": {
            "type": "boolean",
            "description": "True for the session making this request (matched via the refresh token)"
          }
        },
        "required": [
          "id",
          "ip",
          "userAgent",
          "createdAt",
          "lastSeenAt",
          "current"
        ]
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "keyPrefix": {
            "type": "string",
            "description": "The first characters of the key, for recognising it. The full key is never shown again."
          },
          "label": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "voice:send",
                "sms:send",
                "dialer:write",
                "routes:read",
                "account:read",
                "purchases:write",
                "offers:write",
                "billing:write",
                "numbers:read",
                "numbers:write",
                "account:write",
                "routes:write",
                "cdr:numbers",
                "application:write",
                "switch:manage",
                "verify:write",
                "webhooks:write"
              ]
            },
            "nullable": true,
            "description": "null = full access; otherwise the only scopes this key may use"
          },
          "environment": {
            "type": "string",
            "enum": [
              "live",
              "test"
            ]
          },
          "lastUsedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)",
            "nullable": true
          }
        },
        "required": [
          "id",
          "keyPrefix",
          "label",
          "scopes",
          "environment",
          "lastUsedAt",
          "createdAt",
          "expiresAt"
        ]
      },
      "CreatedApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "key": {
            "type": "string",
            "description": "The full secret key. Returned ONCE, here; store it now."
          },
          "keyPrefix": {
            "type": "string",
            "description": "Same value as `prefix`; the name the list and update responses use."
          },
          "prefix": {
            "type": "string",
            "description": "Deprecated alias of `keyPrefix`, kept for existing clients."
          },
          "label": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "voice:send",
                "sms:send",
                "dialer:write",
                "routes:read",
                "account:read",
                "purchases:write",
                "offers:write",
                "billing:write",
                "numbers:read",
                "numbers:write",
                "account:write",
                "routes:write",
                "cdr:numbers",
                "application:write",
                "switch:manage",
                "verify:write",
                "webhooks:write"
              ]
            },
            "nullable": true
          },
          "environment": {
            "type": "string",
            "enum": [
              "live",
              "test"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)",
            "nullable": true
          }
        },
        "required": [
          "id",
          "key",
          "keyPrefix",
          "prefix",
          "label",
          "scopes",
          "environment",
          "expiresAt"
        ]
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "secretLast4": {
            "type": "string",
            "description": "Last 4 characters of the signing secret, to tell secrets apart"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "call.completed",
                "call.ringing",
                "call.answered",
                "call.gathered",
                "sms.sent",
                "sms.dlr",
                "sms.delivered",
                "sms.failed",
                "campaign.started",
                "campaign.completed",
                "topup.confirmed",
                "balance.low",
                "offer.received",
                "route.purchased",
                "sub_account.balance_low",
                "sub_account.suspended",
                "sub_account.resumed",
                "sub_account.topup_requested",
                "number.call.received",
                "number.sms.received",
                "number.voicemail.received",
                "invoice.created",
                "invoice.issued",
                "invoice.sent",
                "invoice.voided",
                "invoice.reissued",
                "invoice.payment",
                "credit_note.issued",
                "payable.created",
                "netting.run",
                "sell_rate.changed",
                "cost_rate.scheduled",
                "cost_rate.activated",
                "cost_rate.rolled_back",
                "sub_account.margin_below_floor",
                "ping"
              ]
            }
          },
          "isActive": {
            "type": "boolean",
            "description": "False when you disabled it, or after sustained delivery failures"
          },
          "failureCount": {
            "type": "integer",
            "description": "Consecutive failed deliveries; resets on success"
          },
          "lastDeliveryAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)"
          }
        },
        "required": [
          "id",
          "url",
          "secretLast4",
          "events",
          "isActive",
          "failureCount",
          "lastDeliveryAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "WebhookWithSecret": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "secretLast4": {
            "type": "string",
            "description": "Last 4 characters of the signing secret, to tell secrets apart"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "call.completed",
                "call.ringing",
                "call.answered",
                "call.gathered",
                "sms.sent",
                "sms.dlr",
                "sms.delivered",
                "sms.failed",
                "campaign.started",
                "campaign.completed",
                "topup.confirmed",
                "balance.low",
                "offer.received",
                "route.purchased",
                "sub_account.balance_low",
                "sub_account.suspended",
                "sub_account.resumed",
                "sub_account.topup_requested",
                "number.call.received",
                "number.sms.received",
                "number.voicemail.received",
                "invoice.created",
                "invoice.issued",
                "invoice.sent",
                "invoice.voided",
                "invoice.reissued",
                "invoice.payment",
                "credit_note.issued",
                "payable.created",
                "netting.run",
                "sell_rate.changed",
                "cost_rate.scheduled",
                "cost_rate.activated",
                "cost_rate.rolled_back",
                "sub_account.margin_below_floor",
                "ping"
              ]
            }
          },
          "isActive": {
            "type": "boolean",
            "description": "False when you disabled it, or after sustained delivery failures"
          },
          "failureCount": {
            "type": "integer",
            "description": "Consecutive failed deliveries; resets on success"
          },
          "lastDeliveryAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)"
          },
          "secret": {
            "type": "string",
            "description": "The signing secret. Returned ONCE; store it now."
          }
        },
        "required": [
          "id",
          "url",
          "secretLast4",
          "events",
          "isActive",
          "failureCount",
          "lastDeliveryAt",
          "createdAt",
          "updatedAt",
          "secret"
        ]
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Also sent as the X-Webhook-Id header. Automatic retries reuse it (de-duplicate on it); a manual resend is a new delivery with a new id."
          },
          "webhookId": {
            "type": "string",
            "format": "uuid",
            "description": "Present on the account-wide list"
          },
          "url": {
            "type": "string",
            "description": "The endpoint URL, on the account-wide list"
          },
          "event": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "sending",
              "delivered",
              "failed"
            ]
          },
          "httpStatus": {
            "type": "integer",
            "nullable": true,
            "description": "Response code your server returned on the last attempt"
          },
          "attempts": {
            "type": "integer",
            "description": "Attempts so far (max 5, with attempts^2-minute backoff)"
          },
          "lastError": {
            "type": "string",
            "nullable": true
          },
          "nextRetryAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)"
          },
          "deliveredAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)",
            "nullable": true
          }
        },
        "required": [
          "id",
          "event",
          "status",
          "httpStatus",
          "attempts",
          "lastError",
          "nextRetryAt",
          "createdAt",
          "deliveredAt"
        ]
      },
      "ApiUsage": {
        "type": "object",
        "properties": {
          "totalRequests": {
            "type": "integer"
          },
          "errorRate": {
            "type": "number",
            "description": "Fraction of requests answered 4xx/5xx, 0 to 1"
          },
          "p95LatencyMs": {
            "type": "integer"
          },
          "byDay": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "description": "YYYY-MM-DD (UTC)"
                },
                "count": {
                  "type": "integer"
                },
                "errors": {
                  "type": "integer"
                }
              },
              "required": [
                "date",
                "count",
                "errors"
              ]
            }
          },
          "topEndpoints": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "Route pattern, e.g. /api/v1/routes/:id"
                },
                "count": {
                  "type": "integer"
                }
              },
              "required": [
                "path",
                "count"
              ]
            }
          },
          "keyId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "The key the figures are filtered to, or null for all traffic"
          }
        },
        "required": [
          "totalRequests",
          "errorRate",
          "p95LatencyMs",
          "byDay",
          "topEndpoints",
          "keyId"
        ]
      },
      "MarketplaceSellerProfile": {
        "type": "object",
        "properties": {
          "verified": {
            "type": "boolean",
            "description": "Seller identity verified"
          },
          "sellerScore": {
            "type": "integer",
            "nullable": true,
            "description": "Average Exchange Score across the seller's trafficked routes"
          }
        },
        "required": [
          "verified",
          "sellerScore"
        ],
        "description": "Trust signals only. The marketplace never names the seller behind a listing."
      },
      "MarketplaceRoute": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "kind": {
            "type": "string",
            "enum": [
              "single",
              "blend"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "voice",
              "sms"
            ]
          },
          "country": {
            "type": "string"
          },
          "countryCode": {
            "type": "string",
            "description": "E.164 country calling code, digits only"
          },
          "prefix": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Dial prefixes the route covers"
          },
          "destinationName": {
            "type": "string",
            "description": "The route name. For buyers it is cleaned of seller names and contact details."
          },
          "cliType": {
            "type": "string",
            "enum": [
              "full_cli",
              "ncli",
              "partial_cli",
              "local_cli",
              "mixed_cli"
            ]
          },
          "routeType": {
            "type": "string",
            "enum": [
              "direct",
              "premium",
              "standard",
              "ncli"
            ],
            "description": "Quality tier"
          },
          "pricePerUnit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Money"
              }
            ],
            "description": "USD per minute (voice) or per message segment (SMS). On an A-Z deck (rateCount > 0) the per-destination rates apply instead."
          },
          "billingIncrement": {
            "type": "string",
            "nullable": true,
            "description": "First/subsequent increment in seconds, e.g. \"60/60\""
          },
          "capacity": {
            "type": "integer",
            "description": "Channels (voice) or messages per second (SMS)"
          },
          "expectedAsr": {
            "type": "string",
            "nullable": true,
            "description": "Seller-stated ASR %, not measured"
          },
          "expectedAcd": {
            "type": "string",
            "nullable": true,
            "description": "Seller-stated ACD in seconds"
          },
          "expectedPdd": {
            "type": "string",
            "nullable": true,
            "description": "Seller-stated PDD in seconds"
          },
          "minAcd": {
            "type": "integer",
            "nullable": true
          },
          "minAsr": {
            "type": "string",
            "nullable": true,
            "description": "Decimal as a string, e.g. \"92.50\""
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "suspended",
              "pending_review"
            ]
          },
          "wholesaleCompatible": {
            "type": "boolean"
          },
          "callcenterCompatible": {
            "type": "boolean"
          },
          "dialerCompatible": {
            "type": "boolean"
          },
          "retailCompatible": {
            "type": "boolean"
          },
          "otpCompatible": {
            "type": "boolean"
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "smsType": {
            "type": "string",
            "enum": [
              "a2p",
              "p2p",
              "both"
            ],
            "nullable": true
          },
          "exchangeScore": {
            "type": "integer",
            "nullable": true,
            "description": "Exchange Score 1-100, null until the route has carried real traffic"
          },
          "lastQcAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)"
          },
          "isOwn": {
            "type": "boolean",
            "description": "True only on your own listings"
          },
          "sellerProfile": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MarketplaceSellerProfile"
              }
            ],
            "nullable": true,
            "description": "Trust signals only. The marketplace never names the seller behind a listing."
          },
          "rateCount": {
            "type": "integer",
            "description": "Active per-destination deck rows; > 0 means an A-Z deck"
          },
          "priceTrend": {
            "type": "object",
            "properties": {
              "changePct": {
                "type": "number"
              },
              "points": {
                "type": "array",
                "items": {
                  "type": "number"
                }
              }
            },
            "required": [
              "changePct",
              "points"
            ],
            "nullable": true,
            "description": "Real 24h price movement from the price history; null when the route has not repriced"
          }
        },
        "required": [
          "id",
          "kind",
          "type",
          "country",
          "countryCode",
          "prefix",
          "destinationName",
          "cliType",
          "routeType",
          "pricePerUnit",
          "billingIncrement",
          "capacity",
          "expectedAsr",
          "expectedAcd",
          "expectedPdd",
          "minAcd",
          "minAsr",
          "visibility",
          "status",
          "wholesaleCompatible",
          "callcenterCompatible",
          "dialerCompatible",
          "retailCompatible",
          "otpCompatible",
          "notes",
          "exchangeScore",
          "lastQcAt",
          "createdAt",
          "updatedAt",
          "isOwn",
          "sellerProfile",
          "rateCount"
        ],
        "description": "A route as a buyer sees it: no seller identity, endpoints or credentials."
      },
      "OwnRoute": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "kind": {
            "type": "string",
            "enum": [
              "single",
              "blend"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "voice",
              "sms"
            ]
          },
          "country": {
            "type": "string"
          },
          "countryCode": {
            "type": "string",
            "description": "E.164 country calling code, digits only"
          },
          "prefix": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Dial prefixes the route covers"
          },
          "destinationName": {
            "type": "string",
            "description": "The route name. For buyers it is cleaned of seller names and contact details."
          },
          "cliType": {
            "type": "string",
            "enum": [
              "full_cli",
              "ncli",
              "partial_cli",
              "local_cli",
              "mixed_cli"
            ]
          },
          "routeType": {
            "type": "string",
            "enum": [
              "direct",
              "premium",
              "standard",
              "ncli"
            ],
            "description": "Quality tier"
          },
          "pricePerUnit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Money"
              }
            ],
            "description": "USD per minute (voice) or per message segment (SMS). On an A-Z deck (rateCount > 0) the per-destination rates apply instead."
          },
          "billingIncrement": {
            "type": "string",
            "nullable": true,
            "description": "First/subsequent increment in seconds, e.g. \"60/60\""
          },
          "capacity": {
            "type": "integer",
            "description": "Channels (voice) or messages per second (SMS)"
          },
          "expectedAsr": {
            "type": "string",
            "nullable": true,
            "description": "Seller-stated ASR %, not measured"
          },
          "expectedAcd": {
            "type": "string",
            "nullable": true,
            "description": "Seller-stated ACD in seconds"
          },
          "expectedPdd": {
            "type": "string",
            "nullable": true,
            "description": "Seller-stated PDD in seconds"
          },
          "minAcd": {
            "type": "integer",
            "nullable": true
          },
          "minAsr": {
            "type": "string",
            "nullable": true,
            "description": "Decimal as a string, e.g. \"92.50\""
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "private"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "suspended",
              "pending_review"
            ]
          },
          "wholesaleCompatible": {
            "type": "boolean"
          },
          "callcenterCompatible": {
            "type": "boolean"
          },
          "dialerCompatible": {
            "type": "boolean"
          },
          "retailCompatible": {
            "type": "boolean"
          },
          "otpCompatible": {
            "type": "boolean"
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "smsType": {
            "type": "string",
            "enum": [
              "a2p",
              "p2p",
              "both"
            ],
            "nullable": true
          },
          "exchangeScore": {
            "type": "integer",
            "nullable": true,
            "description": "Exchange Score 1-100, null until the route has carried real traffic"
          },
          "lastQcAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)"
          },
          "sellerId": {
            "type": "string",
            "format": "uuid",
            "description": "Your own account id"
          },
          "isOwner": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "parentRouteId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "isBundle": {
            "type": "boolean"
          },
          "jingleSipIp": {
            "type": "string",
            "nullable": true,
            "description": "Your SIP endpoint"
          },
          "sipPort": {
            "type": "integer",
            "nullable": true
          },
          "techPrefix": {
            "type": "string",
            "nullable": true
          },
          "sipAuthUsername": {
            "type": "string",
            "nullable": true
          },
          "sipAuthPasswordSet": {
            "type": "boolean",
            "description": "A SIP digest password is stored (never returned)"
          },
          "smsDeliveryMethod": {
            "type": "string",
            "enum": [
              "http",
              "smpp"
            ],
            "nullable": true
          },
          "smsDeliveryUrl": {
            "type": "string",
            "nullable": true
          },
          "smppHost": {
            "type": "string",
            "nullable": true
          },
          "smppPort": {
            "type": "integer",
            "nullable": true
          },
          "smppSystemId": {
            "type": "string",
            "nullable": true
          },
          "smppPasswordSet": {
            "type": "boolean",
            "description": "An SMPP password is stored (never returned)"
          },
          "endpointReachable": {
            "type": "boolean",
            "nullable": true
          },
          "endpointCheckedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)",
            "nullable": true
          },
          "sellerProfile": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MarketplaceSellerProfile"
              }
            ],
            "nullable": true,
            "description": "Trust signals only. The marketplace never names the seller behind a listing."
          },
          "rateCount": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "kind",
          "type",
          "country",
          "countryCode",
          "prefix",
          "destinationName",
          "cliType",
          "routeType",
          "pricePerUnit",
          "billingIncrement",
          "capacity",
          "expectedAsr",
          "expectedAcd",
          "expectedPdd",
          "minAcd",
          "minAsr",
          "visibility",
          "status",
          "wholesaleCompatible",
          "callcenterCompatible",
          "dialerCompatible",
          "retailCompatible",
          "otpCompatible",
          "notes",
          "exchangeScore",
          "lastQcAt",
          "createdAt",
          "updatedAt",
          "sellerId",
          "parentRouteId",
          "isBundle",
          "jingleSipIp",
          "sipPort",
          "techPrefix",
          "sipAuthUsername",
          "sipAuthPasswordSet",
          "smsDeliveryUrl",
          "smppHost",
          "smppPort",
          "smppSystemId",
          "smppPasswordSet",
          "endpointReachable",
          "endpointCheckedAt"
        ],
        "description": "A route you listed, as only you (the seller) see it. Passwords are never returned."
      },
      "MarketplaceStats": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "voiceCount": {
            "type": "integer"
          },
          "smsCount": {
            "type": "integer"
          },
          "destinations": {
            "type": "integer"
          },
          "avgPrice": {
            "type": "number",
            "nullable": true,
            "description": "Signed-in callers only. Average list price (display figure)"
          },
          "avgAsr": {
            "type": "number",
            "nullable": true,
            "description": "Signed-in only. Average seller-stated ASR %"
          },
          "measuredAsr": {
            "type": "number",
            "nullable": true,
            "description": "Signed-in only. Measured ASR % over 30 days of real calls"
          },
          "avgScore": {
            "type": "integer",
            "nullable": true,
            "description": "Signed-in only"
          },
          "totalCapacity": {
            "type": "integer",
            "description": "Signed-in only"
          }
        },
        "required": [
          "total",
          "voiceCount",
          "smsCount",
          "destinations"
        ]
      },
      "ConnectivityTestResult": {
        "type": "object",
        "properties": {
          "pass": {
            "type": "boolean",
            "description": "True when the endpoint answered from every one of our media addresses"
          },
          "barred": {
            "type": "boolean",
            "description": "Reachable but refusing our calls"
          },
          "degraded": {
            "type": "boolean",
            "description": "Refusing some of our source addresses"
          },
          "checks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                },
                "ok": {
                  "type": "boolean"
                }
              },
              "required": [
                "label",
                "value",
                "ok"
              ]
            }
          },
          "egressAddresses": {
            "type": "string",
            "description": "The addresses our traffic comes from; whitelist these"
          },
          "gatewayIp": {
            "type": "string",
            "description": "Deprecated alias of egressAddresses"
          },
          "diagnostics": {
            "type": "object",
            "properties": {},
            "additionalProperties": true
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "pass",
          "checks",
          "egressAddresses",
          "gatewayIp",
          "message"
        ]
      },
      "ResolvedRoute": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "destinationName": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "voice",
              "sms"
            ]
          },
          "cliType": {
            "type": "string",
            "nullable": true
          },
          "price": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Money"
              }
            ],
            "description": "Rate for this destination: USD per minute or message, 6-decimal string"
          },
          "asr": {
            "type": "number",
            "nullable": true
          },
          "acd": {
            "type": "number",
            "nullable": true
          },
          "matchedPrefix": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "destinationName",
          "country",
          "countryCode",
          "type",
          "cliType",
          "price",
          "asr",
          "acd",
          "matchedPrefix"
        ]
      },
      "PricedRoute": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "voice",
              "sms"
            ]
          },
          "name": {
            "type": "string",
            "description": "The route name as a buyer may read it (seller names and contact details removed)"
          },
          "country": {
            "type": "string"
          },
          "countryCode": {
            "type": "string",
            "description": "E.164 country calling code, digits only"
          },
          "matchedPrefix": {
            "type": "string",
            "description": "The dial prefix the number matched on this route (the longest one, on a deck)"
          },
          "destination": {
            "type": "string",
            "description": "The destination that prefix belongs to, e.g. \"United Kingdom-Mobile\"; the country for a flat-priced listing"
          },
          "rate": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Money"
              }
            ],
            "description": "What this route charges for THIS number: USD per minute (voice) or per message (SMS)"
          },
          "billingIncrement": {
            "type": "string",
            "nullable": true,
            "description": "e.g. \"60/60\" or \"1/1\"; null when the listing does not state one"
          },
          "pricedBy": {
            "type": "string",
            "enum": [
              "deck",
              "flat"
            ],
            "description": "deck = priced by the matching rate-sheet row; flat = the listing's single price"
          },
          "expectedAsr": {
            "type": "string",
            "nullable": true,
            "description": "Seller-stated ASR %, not measured"
          },
          "expectedAcd": {
            "type": "string",
            "nullable": true,
            "description": "Seller-stated ACD in seconds"
          },
          "cliType": {
            "type": "string"
          },
          "routeType": {
            "type": "string",
            "description": "Quality tier"
          },
          "capacity": {
            "type": "integer",
            "description": "Channels (voice) or messages per second (SMS)"
          },
          "exchangeScore": {
            "type": "integer",
            "nullable": true,
            "description": "Exchange Score 1-100; null (\"New\") until the route has carried traffic"
          },
          "isOwn": {
            "type": "boolean",
            "description": "True only on your own listing (signed-in callers), so you are not offered your own route"
          },
          "network": {
            "type": "object",
            "properties": {
              "mccMnc": {
                "type": "string",
                "nullable": true,
                "description": "Mobile network code (MCC-MNC) `rate` is for, e.g. \"234-10\"; null when unknown"
              },
              "operator": {
                "type": "string",
                "nullable": true,
                "description": "Network name from public number-range data, e.g. \"O2\""
              },
              "source": {
                "type": "string",
                "enum": [
                  "range",
                  "hlr",
                  "none"
                ],
                "description": "range = number-range data; none = not determined"
              },
              "rateBasis": {
                "type": "string",
                "enum": [
                  "network",
                  "all_operators",
                  "country"
                ],
                "description": "network = that network's own rate; all_operators = the route's rate for networks it does not list separately; country = the price for other or unknown networks"
              }
            },
            "required": [
              "mccMnc",
              "operator",
              "source",
              "rateBasis"
            ],
            "nullable": true,
            "description": "SMS routes that price the country per mobile network: which network `rate` is for. Absent otherwise"
          },
          "countryRate": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Money"
              }
            ],
            "nullable": true,
            "description": "SMS routes that price per network: the price for other or unknown networks"
          }
        },
        "required": [
          "id",
          "type",
          "name",
          "country",
          "countryCode",
          "matchedPrefix",
          "destination",
          "rate",
          "billingIncrement",
          "pricedBy",
          "expectedAsr",
          "expectedAcd",
          "cliType",
          "routeType",
          "capacity",
          "exchangeScore",
          "isOwn"
        ],
        "description": "One route that serves the number, at the rate it would charge for it. Never names the seller."
      },
      "RouteRate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "routeId": {
            "type": "string",
            "format": "uuid"
          },
          "destinationName": {
            "type": "string"
          },
          "operator": {
            "type": "string",
            "nullable": true
          },
          "prefix": {
            "type": "string"
          },
          "ratePerUnit": {
            "$ref": "#/components/schemas/Money"
          },
          "billingIncrement": {
            "type": "string",
            "nullable": true
          },
          "minDuration": {
            "type": "integer",
            "nullable": true
          },
          "effectiveDate": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "mccMnc": {
            "type": "string",
            "nullable": true,
            "description": "SMS sheets priced by network code: the network the row price came from (\"214\" = whole country)"
          },
          "operatorRates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "mccMnc": {
                  "type": "string",
                  "description": "\"214-07\" for one network; \"214\" for All Operators"
                },
                "operator": {
                  "type": "string",
                  "nullable": true
                },
                "rate": {
                  "$ref": "#/components/schemas/Money"
                }
              },
              "required": [
                "mccMnc",
                "operator",
                "rate"
              ]
            },
            "nullable": true,
            "description": "SMS sheets priced by network: the price per destination network (charged per network when `networkPriced` is true). A message is charged its network's rate (networks not listed pay the All Operators rate when there is one); `ratePerUnit` is the price for other or unknown networks. The network is determined from the number's range (ported numbers may be priced at the network the range belongs to)"
          },
          "networkPriced": {
            "type": "boolean",
            "description": "True when each SMS on this row is charged its destination network's rate from `operatorRates`; `ratePerUnit` then applies to other or unknown networks"
          }
        },
        "required": [
          "id",
          "routeId",
          "destinationName",
          "operator",
          "prefix",
          "ratePerUnit",
          "billingIncrement",
          "minDuration",
          "effectiveDate",
          "status"
        ],
        "additionalProperties": true
      },
      "RateSheetImport": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "routeId": {
            "type": "string",
            "format": "uuid"
          },
          "filename": {
            "type": "string"
          },
          "fileType": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "rowCount": {
            "type": "integer",
            "nullable": true
          },
          "columnMapping": {},
          "previewRows": {},
          "warnings": {},
          "currency": {
            "type": "string",
            "nullable": true
          },
          "fxRate": {
            "type": "string",
            "nullable": true
          },
          "errorMessage": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)"
          },
          "appliedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)",
            "nullable": true
          }
        },
        "required": [
          "id",
          "routeId",
          "filename",
          "fileType",
          "status",
          "rowCount",
          "currency",
          "fxRate",
          "errorMessage",
          "createdAt",
          "appliedAt"
        ],
        "additionalProperties": true
      },
      "ListingHealth": {
        "type": "object",
        "properties": {
          "listed": {
            "type": "integer",
            "description": "Your routes that are active, public and not an A-Z deck parent: what you have put on sale"
          },
          "live": {
            "type": "integer",
            "description": "How many of those buyers can actually see on the marketplace (counted with the marketplace's own filters)"
          },
          "hidden": {
            "type": "integer",
            "description": "listed - live"
          },
          "reasons": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "enum": [
                    "sms_no_delivery",
                    "voice_no_endpoint",
                    "restricted"
                  ],
                  "description": "sms_no_delivery and voice_no_endpoint can be listed with GET /routes/my/list?hiddenReason=<key> and fixed in bulk; restricted = a destination the exchange does not carry"
                },
                "count": {
                  "type": "integer"
                },
                "label": {
                  "type": "string",
                  "description": "The reason in plain words"
                },
                "fix": {
                  "type": "string",
                  "description": "What to do about it"
                }
              },
              "required": [
                "key",
                "count",
                "label",
                "fix"
              ]
            },
            "description": "Why the hidden routes are hidden, in the order to fix them. Only reasons with a non-zero count are present."
          }
        },
        "required": [
          "listed",
          "live",
          "hidden",
          "reasons"
        ]
      },
      "BulkEndpointResult": {
        "type": "object",
        "properties": {
          "updated": {
            "type": "integer",
            "description": "Routes changed. Always 0 on a dry run."
          },
          "wouldUpdate": {
            "type": "integer",
            "description": "Dry run (or nothing eligible): how many routes the call would change"
          },
          "skipped": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "reason": {
                  "type": "string",
                  "enum": [
                    "not_found",
                    "not_sms",
                    "not_voice",
                    "deck_parent",
                    "blend",
                    "duplicate_listing"
                  ],
                  "description": "not_found: not one of your live routes. not_sms / not_voice: wrong route type for this action. deck_parent: set it on the deck's own Edit page. blend: a blend has no endpoint of its own. duplicate_listing (SIP only): another of your routes already lists this country and prefixes on that IP and tech prefix."
                }
              },
              "required": [
                "id",
                "reason"
              ]
            },
            "description": "Routes left untouched, each with the reason"
          },
          "check": {
            "type": "object",
            "properties": {
              "pass": {
                "type": "boolean"
              },
              "message": {
                "type": "string"
              }
            },
            "required": [
              "pass",
              "message"
            ],
            "description": "The one endpoint check run for the whole batch (an SMPP bind, a URL check or a SIP probe). pass is false only when confirmUnreachable applied a SIP endpoint anyway."
          },
          "dryRun": {
            "type": "boolean"
          }
        },
        "required": [
          "updated",
          "skipped"
        ]
      },
      "PriceNumberResult": {
        "type": "object",
        "properties": {
          "number": {
            "type": "string",
            "description": "The number as priced: digits only"
          },
          "type": {
            "type": "string",
            "enum": [
              "voice",
              "sms"
            ]
          },
          "unit": {
            "type": "string",
            "enum": [
              "min",
              "msg"
            ],
            "description": "What `rate` is per: a minute (voice) or a message (SMS)"
          },
          "total": {
            "type": "integer",
            "description": "Routes that serve the number, before the 100-row cap"
          },
          "routes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PricedRoute"
            },
            "description": "Cheapest first"
          },
          "notice": {
            "type": "string",
            "enum": [
              "sanctioned"
            ],
            "nullable": true,
            "description": "Why the list is empty when it is empty for a reason other than \"no route covers it\""
          }
        },
        "required": [
          "number",
          "type",
          "unit",
          "total",
          "routes",
          "notice"
        ]
      },
      "RouteAccessGrant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "routeId": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "customPrice": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Money"
              }
            ],
            "nullable": true,
            "description": "Price this buyer pays instead of the list price"
          },
          "inviteCode": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "pending",
                  "active",
                  "revoked"
                ]
              },
              {
                "type": "string"
              }
            ]
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "requestedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp (UTC)"
          }
        },
        "required": [
          "id",
          "routeId",
          "userId",
          "customPrice",
          "inviteCode",
          "status",
[...]
